# Data collection
requests==2.31.0
pandas==2.1.4
wbgapi==1.0.12
beautifulsoup4==4.12.2

# SQL
pyodbc==5.0.1

# EDA & Visualization
matplotlib==3.8.2
seaborn==0.13.1
plotly==5.18.0

# ML Models
scikit-learn==1.4.0
xgboost==2.0.3
shap==0.44.0

# Causal Inference
statsmodels==0.14.1
linearmodels==5.4

# MLflow
mlflow==2.10.0

# Dashboard
streamlit==1.30.0

# Utilities
python-dotenv==1.0.0
openpyxl==3.1.2
